<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
<br>


    <h1 class="center_header">Search for Recipes</h1>

    <div class="search_form_style">
        <form method="POST" action="{{url_for('search')}}">
{#            {{form.csrf}}#}
{#            {{form.hidden_tag()}}#}

            <label>Meal:</label><br>
            {{form.meal}}

            <br><br>

            <label>Include:</label><br>
            {{form.include}}
            <br><br>

            <label>Exclude:</label><br>
            {{form.exclude}}
            <br><br>

            <input type="submit" value="Search">
        </form>
    </div>

</body>
</html>